{{- /*gotype:github.com/joomcode/diagnostic/tools/cli/report.Report*/ -}}
<html lang="en">
<head>
    <title>CDN diagnostics report</title>
</head>
<body>
<h1>Summary</h1>
<ul>
    <li>Created: <span id="created">{{ .Created }}</span></li>
    <li>OS Version: <span id="osversion">{{ .OSVersion }}</span></li>
</ul>
</body>
</html>